﻿/*Created with Adobe RoboHelp.*/
/*Created with Adobe RoboHelp.*/
/*Created with Adobe RoboHelp.*/
BODY {
	background-color: #ffffff;
}
P {
	font-size: 10.0pt;
	color: #000000;
	margin-top: 0pt;
	margin-bottom: 5pt;
	font-family: Arial, sans-serif;
	margin-left: 147pt;
}
LI.P {
	font-size: 10.0pt;
	color: #000000;
	font-family: Arial, sans-serif;
}

H1 {
	font-family: Verdana;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
	margin-bottom: 9.5pt;
	border-bottom-style: Solid;
	border-bottom-width: 2px;
	border-bottom-color: #808080;
	margin-left: 147pt;
}
LI.H1 {
	font-family: Verdana;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
}

H2 {
	font-family: Verdana;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
	margin-bottom: 5pt;
	margin-left: 147pt;
}
LI.H2 {
	font-family: Verdana;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
}

H3 {
	font-size: 10.0pt;
	color: #000000;
	margin-bottom: 0pt;
	font-family: Arial, sans-serif;
	margin-top: 10pt;
	font-weight: bold;
	font-style: normal;
	margin-left: 147pt;
}
LI.H3 {
	font-size: 10.0pt;
	color: #000000;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
}

H4 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	margin-left: 147pt;
}
LI.H4 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}

H5 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	margin-left: 147pt;
}
LI.H5 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}

H6 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}
LI.H6 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
}

A:link {
	color: #0000ff;
	text-decoration: underline;
}
A:visited {
	color: #0000ff;
	text-decoration: underline;
}
A.expandspot {
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
SPAN.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}
A.dropspot {
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}
A.glossterm {
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
SPAN.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}
OL,
UL {
	margin-top: 0px;
	margin-bottom: 0px;
}
P.Description {
	margin-left: 20px;
}
LI.P-Description {
}

